@import '../../../styles';

app-toolbar {

    .toolbar {
        max-height: 107px;
        min-height: 107px;
        border-radius: 0px 0px 30px 30px;
        display: inline-flex;
        flex-direction: row;

        .left {
            width:70%;
            justify-content: flex-start;
        }

        .right {
            width:30%;
            align-items: end;
            justify-content: flex-end;
        }
    }

    .mat-toolbar {
        background: $smoothgreen !important;
    }

    .logo {
        justify-content: center;
        align-items: center;
        border-radius:45px;
    }

    .mat-mdc-icon-button img {
        height:90px !important;
        width:89px !important;
    }

    .textlogo {
        height:81px;
        width:390px;
        left:126px;
        top:17px;
        position:absolute;
    }

    .mdc-button {
        margin-right: 10px;
    }

    .register {
        background-color: $green;
        height:39px;
        width:211px;
        border-radius:20px;

        .registerFont {
            color:#f5f5f5;
            font-size:16px bold;
            line-height:auto;
        }
    }

    .loginFont {
        color: black;
    }
}