@import '../../../styles';

app-validate-prescription-page {

    .container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        min-height: 662px;

        .products{
            display: flex;
            flex-direction: column;
            padding: 32px;

            .product{
                display: flex;
                flex-direction: row;
                align-items: baseline;
                background-color: $green;
                color: white;
                padding: 4px 8px;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;


                .product-name{
                    padding: 0 2px;
                }

                .product-cip{
                    padding: 0 2px;
                    font-size: 0.7em;
                }
            }

            .advices {
                padding-left: 18px;
                margin-bottom: 8px;
                background-color: #8bd59e;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;

                .advice{

                }
            }

        }
      
    }
}