<div class="container">
    <ng-container *ngIf="prescriptionData && prescriptionData?.products && prescriptionData.products?.length != undefined">
      <div class="products">
        <ng-container *ngFor="let product of prescriptionData.products">
          <div class="product">
            <span class="product-dci"> {{ product.dci }}</span>
            <span class="product-name">({{ product.name | uppercase }})</span>
            <span></span>
            <span class="product-cip">CIP: {{ product.cip }}</span>
          </div>
          <div class="advices">
            <ng-container *ngFor="let advice of product.advices">
              <div class="advice">
                <div>- {{ advice.content }}</div>
              </div>
            </ng-container>

          </div>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngIf="prescriptionData && (!prescriptionData.products || prescriptionData.products.length === 0)">
      <p>Aucun produit trouvé pour cette prescription.</p>
    </ng-container>
  </div>
  
