<div class="container">
    <div class="action-container">
        <button mat-button class="action-button">
            <img 
                src="../../../app/assets/icons/arrow.png"/>
        </button>
    </div>
    <div class="action-container">
        <button mat-button class="action-button">
            <img 
                src="../../../app/assets/icons/arrow.png"/>
        </button>
    </div>
    <div class="action-container">
        <button mat-button class="action-button">
            <img 
                src="../../../app/assets/icons/arrow.png"/>
        </button>
    </div>
    <div class="action-container">
        <button mat-button class="action-button">
            <img 
                src="../../../app/assets/icons/arrow.png"/>
        </button>
    </div>
</div>
