<div class="container">
    <div class="selector">
        <div class="text1">Sélectionner une prescription:</div>
        <div>
            <mat-form-field>
                <mat-label></mat-label>
                <mat-select [disabled]="false">
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2" disabled>Option 2 (disabled)</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

