<main>
  <div class="main">
    <mat-toolbar class="toolbar">
        <div class="left">
          <button 
            mat-icon-button
            routerLink="/"
            class="button1">
            <img 
              src="../../../app/assets/img/logo.jpg" 
              class="logo"/>
          </button>
          <button 
            mat-icon-button
            routerLink="/"
            class="button2">
          <img 
            src="../../../app/assets/img/textlogo.png"
            class="textlogo" />
          </button>
        </div>
        <div class="right">
          @if (loginFlag) {
            <a 
              type="button" 
              class="register" 
              routerLink="/">
              <div class="">Se déconnecter</div>
            </a>
          }
          @else if (this.innerWidth > 1050) {
            <a 
              mat-button 
              type="button" 
              class="register" 
              routerLink="/register">
              <div class="registerFont">Vous êtes pharmacien?</div>
            </a>
            <a 
              mat-raised-button 
              type="button" 
              class="/login" 
              routerLink="login">
              <div class="loginFont">Se connecter</div>
            </a>
          }
          
        </div>
    </mat-toolbar>
  </div>
</main>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    @if (loginFlag) {
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    }
  </mat-sidenav>

  <mat-sidenav-content class="side-nav-content">
    @if (loginFlag) {
      <p><button mat-button (click)="sidenav.toggle()">Toggle</button></p>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
