<main>
  <div class="main">
    <mat-toolbar class="toolbar">
        <div class="left">
          <button 
            mat-icon-button
            routerLink="/"
            class="button1">
            <img 
              src="../../../app/assets/img/logo.jpg" 
              class="logo"
              alt="logo pharmaguide"/>
          </button>
          <button 
            mat-icon-button
            routerLink="/"
            class="button2">
          <img 
            src="../../../app/assets/img/textlogo.png"
            class="textlogo"
            alt="logo texte pharmaguide" />
          </button>
        </div>
        <div class="right">
          @if (loginFlag && this.innerWidth > 1050) {
            <a 
              mat-button
              type="button" 
              class="register"
              routerLink="/">
              <div class="registerFont">Se déconnecter</div>
            </a>
          }
          @else if (this.innerWidth > 1050) {
            <a 
              mat-button 
              type="button" 
              class="register" 
              routerLink="/register">
              <div class="registerFont">Vous êtes pharmacien?</div>
            </a>
            <a 
              mat-raised-button 
              type="button" 
              class="/login" 
              routerLink="login">
              <div class="loginFont">Se connecter</div>
            </a>
          }
          
        </div>
    </mat-toolbar>
  </div>
</main>
<mat-sidenav-container autosize class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav-style">
    <div class="sidenav-button-container">

      <button 
        class="route-button" 
        mat-button 
        routerLink="/app/dashboard">
        <div class="button-icon-container">
          <div class="icon-container">
            <img src="../../../app/assets/icons/dashboard-icon.png" alt="image tableau de bord"
              [ngStyle]="{'margin-right': '6px'}"/>
          </div>
          <div class="text1">
            Tableau de bord
          </div>
        </div>
      </button>

      <button 
        class="route-button" 
        mat-button 
        routerLink="/app/consult">
        <div class="button-icon-container">
          <div class="icon-container">
            <img src="../../../app/assets/icons/med.png" alt="image parchemin déplié"
              [ngStyle]="{'margin-right': '6px'}"/>
          </div>
          <div class="text1">
            Consultation produits
          </div>
        </div>
      </button>

      <button 
        class="route-button" 
        mat-button 
        routerLink="/app/consult">
        <div class="button-icon-container">
          <div class="icon-container">
            <img src="../../../app/assets/icons/nest-advice.png" alt="image stylo pour éditer"
              [ngStyle]="{'margin-right': '6px'}"/>
          </div>
          <div class="text1">
            Conseils spécifiques
          </div>
        </div>
      </button>

      <button 
        class="route-button" 
        mat-button 
        routerLink="/app/prescription">
        <div class="button-icon-container">
          <div class="icon-container">
            <img src="../../../app/assets/icons/consult-icon.png" alt="fiche avec liste et stylo" 
              [ngStyle]="{'margin-right': '6px'}"/>
          </div>
          <div class="text1">
            Prescriptions
          </div>
        </div>
      </button>

    </div>
  </mat-sidenav>
  <mat-sidenav-content class="side-nav-content">
    @if (loginFlag) {
      <button class="corner-button" mat-button (click)="toggleSidenav()">
        @if (buttonSidenavFlag) {
          <img src="../../../app/assets/icons/arrow.png" 
              class="tranform-left"/>
        }
        @else {
          <img src="../../../app/assets/icons/arrow.png" 
              class="tranform-right" alt="fleche vers la droite"/>
        }
      </button>
    }
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


@if (loginFlag) {
  <footer class="logged-footer">
    <footer>
      <div class="footer-header">
        <img 
                src="../../../app/assets/img/textlogo.png"
                class="footer-header-textlogo"
                 />
        <div>
          Développée par l'équipe Pharmaguide, tout droit réservés
        </div>
      </div>
      <div class="footer-body">
        <div class="footer-body-column">
          <div class="footer-body-column-title">
            Notre Application
          </div>
          <div class="footer-body-column-content">
            <div class="footer-body-column-content-element">
              <a href="">A propos de nous</a>
            </div>
            <div class="footer-body-column-content-element">
              <a href="">Nous contacter</a>
            </div>
            <div class="footer-body-column-content-element">
              <a href="">Besoin d'aide?</a>
            </div>
          </div>
        </div>
    
        <div class="footer-body-column">
          <div class="footer-body-column-title">
            Informations Complémentaires
          </div>
          <div class="footer-body-column-content">
            <div class="footer-body-column-content-element">
              <a href="">Conditions générales d'utilisation</a>
            </div>
            <div class="footer-body-column-content-element">
              <a href="">Politique en matière de cookies</a>
            </div>
            <div class="footer-body-column-content-element">
              <a href="">Politique relative à la protection des données personnelles</a>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </footer>
}
@else {

}

