app-consult-page {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        min-height: 717px;

        .product-table {
            width: 80%;
        }
        
        .mat-mdc-paginator-page-size-label,
        .mat-mdc-paginator-page-size-value {
            display: none !important;
        }

        .mat-mdc-paginator-container {
            min-width: 100%;
        }
    }
}