@import '../../../styles';

app-consult-page {
    height: 100%;

    .container {
        display: flex;
        justify-content: center;
        flex-direction: row;
        min-height: calc(100vh - 200px);

        .product-table {
            width: 80%;
            margin-bottom: 4vh;
        }
        
        .mat-mdc-paginator-page-size-label,
        .mat-mdc-paginator-page-size-value {
            display: none !important;
        }

        .mat-mdc-paginator-container {
            min-width: 95%;
            background-color: #f6f4f4;
            border-radius: 0px 0px 15px 15px;
        }

        .mat-mdc-paginator-outer-container {
            background-color: $tan;
        }
    }

    table[mat-table] {
        width: 100%;
        background-color: #f6f4f4;
        padding: 15px;
        border-radius: 15px 15px 0px 0px;
    }

    .mdc-data-table__content {
        background-color: #f6f4f4;
    }

    td[mat-cell] {
        font-size: 12pt;
    }
    
    tr[mat-header-row] {
        background: #f6f4f4;
    }
    
    tr[mat-row] {
        background-color: #f6f4f4;
        padding: 100px;
    }

    tr[mat-row] span {
        position: relative;
    }

    .text {
        font-size: 14pt;
        position: relative;
        color: black !important;
        z-index: 15 !important;
    }

    tr[mat-row] td {
        height: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: none;
        position: relative;
        z-index: 1;
    }

    tr[mat-row] td::before {
        
        background-color: white;
        content: '';
        width: 100%;
        height: calc(100% - 0.5rem);
        color: black;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        border-bottom: 1px solid lightgray;
        border-top: 1px solid lightgray;
    }

    tr[mat-row] td:first-child:before {
        border-left: 1px solid lightgray;
        border-top-left-radius: 1px solid lightgray;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
    }

    tr[mat-row] td:last-child:before {
        border-right: 1px solid lightgray;
        border-top-right-radius: 1px solid lightgray;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    tr[mat-row]:hover td::before {
        border-color: gray;
    }

    .add {
        min-width: 140px;
        min-height: 65px;
        margin-top: 4vh;
        margin-left: 4vh;
        border: rgb(122, 122, 122) solid 1px !important;

        .button-font {
            color: rgb(52, 52, 52);
            font-size:24px;
        }
    }
}

