@import '../../../styles';

app-main-view {

    .container {
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-right: 8%;
        margin-left: 8%;
        
        .top-container {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5%;

            .illustration-text-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;

                .logo {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    max-width: 177px;
                    max-height: 189px;
                    width: 100% !important;
                    height: auto !important;
                    border-radius: 45px;
                    padding-bottom: 20px;
                }

                .text2 {
                    max-width: 190px;
                }

                .text1 {
                    margin-top: 15px;
                    max-width: 267px;
                }
            }
            
            .middle {
                margin-left: 10%;
                margin-right: 10%;
            }

        }
    }

    .bot-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8%;

        .confidential-info-box {
            background-color: $smoothgreen;
            height:236px;
            width:1021px;
            border-radius:10px;
        }
    }

    .text3 {
        font-weight: bold;
        text-align:center;
        vertical-align:text-top;
        font-size:24px;
    }

    .text2 {
        -webkit-text-stroke: 0.7px;
        -webkit-text-stroke-color: black;
        text-align:center;
        vertical-align:text-top;
        font-size:16px;
    }

    .text1 {
        text-align:center;
        vertical-align:text-top;
        font-size:16px;
    }
}