<div class="container">
    <div class="top-container">
        <div class="illustration-text-container">
            <img class="logo"
                src="../../../app/assets/img/illustration1.png"
                alt="illustration-pharmacien"/>
            <span class="text2">Accompagner vos patients au quotidien</span>
            <span class="text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
        <div class="illustration-text-container middle">
            <img class="logo"
                src="../../../app/assets/img/illustration2.png"
                alt="illustration-medicaments"/>
            <span class="text2">Faciliter l’observance du patient</span>
            <span class="text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
        <div class="illustration-text-container">
            <img class="logo"
                src="../../../app/assets/img/illustration3.png"
                alt="illustration-prescription"/>
            <span class="text2">Enregistrer des conseils personnalisés</span>
            <span class="text1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </span>
        </div>
    </div>
    <div class="bot-container">
        <div class="confidential-info-box">
            <img class="protected-icon"
                src="../../../app/assets/img/confidentialite.png"
                alt="protected icon"/>
            <div class="bot-text-container">
                <span class="text3">
                    Confidentialité
                </span>
                <span class="text1">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </span>
                <a 
                    mat-button 
                    type="button" 
                    class="more-button" 
                    routerLink="/">
                    <div class="more-button-font">EN SAVOIR PLUS</div>
                </a>
            </div>
        </div>
    </div>
</div>
