* {
    font-family: Roboto, Arial, sans-serif;
}

html { 
    min-height: 100%;
}

body { 
    margin: 0;
    overflow: auto;
}

// main colors
$bluenavy: #124660;
$green: #105644;
$smoothgreen: #8BD59E;
$lightgreen: #C7DBC2;
$tan: #F4EBD6;
