* {
    font-family: sans-serif !important; 
}

html, body { 
    height: 100%; 
}

body { 
    margin: 0;
}

// main colors
$bluenavy: #124660;
$green: #1B9476;
$smoothgreen: #8BD59E;
$lightgreen: #C7DBC2;
$tan: #F4EBD6;
